[Unit]
Description=vault server
Requires=network-online.target
After=network-online.target

[Service]
User={{ vault_user }}
Restart=on-failure
WorkingDirectory=/opt/etc/vault/
ExecStart=/usr/local/sbin/vault server -config=/opt/etc/vault/service.hcl

[Install]
WantedBy=multi-user.target
