[Unit]
Description=vault server
Requires=network-online.target
After=network-online.target

[Service]
User={{ vault_system_user }}
Restart=on-failure
WorkingDirectory={{ vault_config_dir }}
ExecStart=/usr/local/sbin/vault server -config={{ vault_config_dir }}/service.hcl

[Install]
WantedBy=multi-user.target
